<div class="accordion" id="course6Accordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingCourse6_1">
            <button class="accordion-button collapsed d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse6_1" aria-expanded="false" aria-controls="collapseCourse6_1">
                <i class="fa-solid fa-plus fa-xl me-4"></i>
                <p class="m-0 fs-4 text-start">Різноманітність раціону</p>
            </button>
        </h2>
        <div id="collapseCourse6_1" class="accordion-collapse collapse" aria-labelledby="headingCourse6_1" data-bs-parent="#course6Accordion">
            <div class="accordion-body">
                Програма включає смачне та збалансоване меню на 3 тижні, щоб харчування не було одноманітним і нудним.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingCourse6_2">
            <button class="accordion-button collapsed d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse6_2" aria-expanded="false" aria-controls="collapseCourse6_2">
                <i class="fa-solid fa-plus fa-xl me-4"></i>
                <p class="m-0 fs-4 text-start">Оптимізація вашого часу</p>
            </button>
        </h2>
        <div id="collapseCourse6_2" class="accordion-collapse collapse" aria-labelledby="headingCourse6_2" data-bs-parent="#course6Accordion">
            <div class="accordion-body">
                Ви отримуєте 5 раціонів з різною калорійністю за ціною однієї програми, що дозволяє легко обрати оптимальний варіант під ваші цілі.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingCourse6_3">
            <button class="accordion-button collapsed d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse6_3" aria-expanded="false" aria-controls="collapseCourse6_3">
                <i class="fa-solid fa-plus fa-xl me-4"></i>
                <p class="m-0 fs-4 text-start">Зручність планування</p>
            </button>
        </h2>
        <div id="collapseCourse6_3" class="accordion-collapse collapse" aria-labelledby="headingCourse6_3" data-bs-parent="#course6Accordion">
            <div class="accordion-body">
                Щотижня ви отримуєте готовий список продуктів для закупівлі, що спрощує процес і значно економить ваш час.
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingCourse6_5">
            <button class="accordion-button collapsed d-flex align-items-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCourse6_5" aria-expanded="false" aria-controls="collapseCourse6_5">
                <i class="fa-solid fa-plus fa-xl me-4"></i>
                <p class="m-0 fs-4 text-start">Збалансоване співвідношення БЖВ</p>
            </button>
        </h2>
        <div id="collapseCourse6_5" class="accordion-collapse collapse" aria-labelledby="headingCourse6_5" data-bs-parent="#course6Accordion">
            <div class="accordion-body">
                Програма розроблена з урахуванням оптимального співвідношення білків, жирів і вуглеводів для підтримання здоров’я та досягнення результатів.
            </div>
        </div>
    </div>
</div>
                    
<div class="w-100 d-flex justify-content-end mt-4 mb-2 pe-5">
    <button type="button" class="btn btn-primary btn-order mt-4 mb-2 fs-5 rounded-pill" data-bs-toggle="modal" data-bs-target="#staticBackdrop_6">Придбати</button>
</div>

<div class="modal fade" id="staticBackdrop_6" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered text-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вибір способу оплати</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="payment-form-course6" class="payment-form">
                    <div class="mb-3">
                        <label for="user-name-course6" class="form-label">Ім’я *</label>
                        <input type="text" class="form-control" id="user-name-course6" name="client_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="user-email-course6" class="form-label">Контактна інформація *</label>
                        <input type="email" class="form-control" id="user-email-course6" name="client_email" required>
                    </div>
                    <p class="text-center">Сума: <strong>50.00 EUR</strong></p>
                    <h5 class="text-center">Наразі приймаємо оплату лише з українських карт!</h5>
                </form>

                <div class="mb-3 d-flex align-items-center plata-container" id="plata-by-mono_6">
                    <h5 style="margin-right: 50px;">
                        Онлайн-оплата карткою
                    </h5>
                    <img src="../images/plata.png" height="auto" width="40%" alt="Plata by mono">
                </div>

                <!-- <div id="paypal-button-container-course2" class="paypal-button-container mb-2"></div> -->

                <h5 class="text-center mb-3">Реквізити</h5>
                <p class="">
                    ФОП Любченко Ярослав Костянтинович<br>
                    UA073220010000026002340142814<br>
                    ІПН 3790611078<br>
                    У призначенні: за фітнес послуги
                </p> 
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
