<div class="accordion" id="course4Accordion">
     <div class="accordion-item">
          <h2 class="accordion-header" id="headingCourse4_1">
               <button
                    class="accordion-button collapsed d-flex align-items-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCourse4_1"
                    aria-expanded="false"
                    aria-controls="collapseCourse4_1"
               >
                    <i class="fa-solid fa-plus fa-xl me-4"></i>
                    <p class="m-0 fs-4 text-start">Комплексний підхід до тренувань і харчування</p>
               </button>
          </h2>
          <div id="collapseCourse4_1" class="accordion-collapse collapse" aria-labelledby="headingCourse4_1" data-bs-parent="#course4Accordion">
               <div class="accordion-body">
                    Програма включає розроблені тренування та оптимальні рекомендації щодо харчування, що дозволяє вам працювати над формою тіла ефективно та збалансовано.
               </div>
          </div>
     </div>

     <div class="accordion-item">
          <h2 class="accordion-header" id="headingCourse4_2">
               <button
                    class="accordion-button collapsed d-flex align-items-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCourse4_2"
                    aria-expanded="false"
                    aria-controls="collapseCourse4_2"
               >
                    <i class="fa-solid fa-plus fa-xl me-4"></i>
                    <p class="m-0 fs-4 text-start">Набір м’язової маси та сили</p>
               </button>
          </h2>
          <div id="collapseCourse4_2" class="accordion-collapse collapse" aria-labelledby="headingCourse4_2" data-bs-parent="#course4Accordion">
               <div class="accordion-body">Ви отримуєте комплекс рекомендацій для ефективного набору м’язової маси: тренування, харчування та відновлення вибудовуються з урахуванням ваших цілей і рівня підготовки.</div>
          </div>
     </div>

     <div class="accordion-item">
          <h2 class="accordion-header" id="headingCourse4_3">
               <button
                    class="accordion-button collapsed d-flex align-items-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCourse4_3"
                    aria-expanded="false"
                    aria-controls="collapseCourse4_3"
               >
                    <i class="fa-solid fa-plus fa-xl me-4"></i>
                    <p class="m-0 fs-4 text-start">Довгостроковий результат</p>
               </button>
          </h2>
          <div id="collapseCourse4_3" class="accordion-collapse collapse" aria-labelledby="headingCourse4_3" data-bs-parent="#course4Accordion">
               <div class="accordion-body">Програма розрахована на 12 тижнів, що достатньо для формування стійких звичок у харчуванні та тренуваннях, а також для досягнення ваших цілей.</div>
          </div>
     </div>

     <div class="accordion-item">
          <h2 class="accordion-header" id="headingCourse4_4">
               <button
                    class="accordion-button collapsed d-flex align-items-center"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseCourse4_4"
                    aria-expanded="false"
                    aria-controls="collapseCourse4_4"
               >
                    <i class="fa-solid fa-plus fa-xl me-4"></i>
                    <p class="m-0 fs-4 text-start">Відеоуроки в Telegram</p>
               </button>
          </h2>
          <div id="collapseCourse4_4" class="accordion-collapse collapse" aria-labelledby="headingCourse4_4" data-bs-parent="#course4Accordion">
               <div class="accordion-body">
                    Ви отримуєте доступ до детальних відеоуроків із правильною технікою виконання вправ прямо в Telegram, що робить навчання зручним і доступним у будь-який час.
               </div>
          </div>
     </div>
</div>

<div class="w-100 d-flex justify-content-end mt-4 mb-2 pe-5">
     <button type="button" class="btn btn-primary btn-order mt-4 mb-2 fs-5 rounded-pill" data-bs-toggle="modal" data-bs-target="#staticBackdrop_4">Придбати</button>
</div>
<div class="modal fade" id="staticBackdrop_4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
     <div class="modal-dialog modal-dialog-centered text-dark">
          <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title">Вибір способу оплати</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
               </div>
               <div class="modal-body">
                    <form id="payment-form-course4_ua" class="payment-form">
                         <div class="mb-3">
                              <label for="user-name-course4" class="form-label">Ім’я *</label>
                              <input type="text" class="form-control" id="user-name-course4_ua" name="client_name" required />
                         </div>
                         <div class="mb-3">
                              <label for="user-email-course4" class="form-label">Контактна інформація *</label>
                              <input type="email" class="form-control" id="user-email-course4_ua" name="client_email" required />
                         </div>
                         <p class="text-center">
                              Сума:
                              <strong>50.00 EUR</strong>
                         </p>
                         <h5 class="text-center">Наразі приймаємо оплату лише з українських карт!</h5>
                    </form>
                    <div class="mb-3 d-flex align-items-center plata-container" id="plata-by-mono_4_ua">
                         <h5 style="margin-right: 50px">Онлайн-оплата карткою</h5>
                         <img src="../images/plata.png" height="auto" width="40%" alt="Plata by mono" />
                    </div>
                    <!-- <div id="paypal-button-container-course3" class="paypal-button-container mb-2"></div> -->
                    <h5 class="text-center mb-3">Реквізити</h5>
                    <p class="">
                         ФОП Любченко Ярослав Костянтинович
                         <br />
                         UA073220010000026002340142814
                         <br />
                         ІПН 3790611078
                         <br />
                         У призначенні: за фітнес послуги
                    </p>
               </div>
               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
               </div>
          </div>
     </div>
</div>
