<ul class="nav nav-tabs mb-4 pb-2" id="course2Tabs">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#weight-loss">
      Схуднення
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#weight-gain">
      Набір з акцентом на сідниці
    </button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="weight-loss">
    <my-accordion-3-ua></my-accordion-3-ua>
  </div>

  <div class="tab-pane fade" id="weight-gain">
    <my-accordion-4-ua></my-accordion-4-ua>
  </div>
</div>
