<ul class="nav nav-tabs mb-4 pb-2" id="course2Tabs">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#food_weight-loss">
      На схуднення 
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#food_weight-gain">
      На набір маси
    </button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="food_weight-loss">
    <my-accordion-5-ua></my-accordion-5-ua>
  </div>

  <div class="tab-pane fade" id="food_weight-gain">
    <my-accordion-6-ua></my-accordion-6-ua>
  </div>
</div>
