<ul class="nav nav-tabs mb-4" id="course2Tabs">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#food_weight-loss">
      На похудение 
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#food_weight-gain">
      На набор массы
    </button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="food_weight-loss">
    <my-accordion-5></my-accordion-5>
  </div>

  <div class="tab-pane fade" id="food_weight-gain">
    <my-accordion-6></my-accordion-6>
  </div>
</div>