<ul class="nav nav-tabs custom-tabs mb-4 pb-2" id="course1Tabs">
  <li class="nav-item">
    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#with-support">
      С ведением
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#self">
      Самостоятельная
    </button>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="with-support">
    <!-- текущий accordion БЕЗ изменений -->
    <my-accordion-1></my-accordion-1>
  </div>

  <div class="tab-pane fade" id="self">
    <!-- копия accordion -->
    <!-- УДАЛЯЕШЬ "Постоянная поддержка" -->
    <!-- Меняешь "Комплексное сопровождение" -->
    <my-accordion-2></my-accordion-2>
  </div>
</div>
